# example to edit to your account values and save as .env
ARCGIS_USER_NAME = "YOUR_USER_NAME"
ARCGIS_USER_PASSWORD = "YOUR_PASSWORD"
ARCGIS_TOKEN = "YOUR_ACCESS_TOKEN"
ARCGIS_ITEM_ID = "YOUR_ITEM_ID"
